#
# Waffle Framework - Caddyfile for FrankenPHP
# This file configures the Caddy web server integrated into FrankenPHP.
#
{
# Enable debug mode for more logs during development
    debug

# Worker Mode Configuration
# Keeps the script in memory. Adjust 'num_threads' based on CPU cores.
    frankenphp {
        worker /waffle-commons/workspace/public/index.php 4
        watch
    }

    order php_server before file_server
}

# Define the server for our development environment
localhost {
# Set the document root to our public directory
    root * /waffle-commons/workspace/public
# Enable compression
    encode zstd gzip
# Forward all requests to the PHP-FPM entrypoint
    php_server {
        hot_reload
    }
}
